<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans:bold"/>
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/admin.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script src="/static/codemirror/lib/codemirror.js"></script>
    <!-- CodeMirror language support -->
    <script src="/static/codemirror/mode/less/less.js"></script>
    <script src="/static/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/codemirror/mode/coffeescript/coffeescript.js"></script>
    <script src="/static/codemirror/mode/xml/xml.js"></script>
    <script src="/static/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/codemirror/mode/css/css.js"></script>
    <script src="/static/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <script src="/static/js/admin.js"></script>
</head>
<body>
<div id="content">
    <div id="keys">
        <ul>${keys}</ul>
    </div>
    <div id="controls">
        <a href="#" id="new" title="New Document Key" class="active"><i class="icon-plus"></i></a>
        <a href="#" id="save" title="Save Changes"><i class="icon-save"></i></a>
        <a href="#" id="reload" title="Reload Document From Server"><i class="icon-refresh"></i></a>
        <a href="#" id="move" title="Rename Document"><i class="icon-file"></i></a>
        <a href="#" id="remove" title="Delete Document"><i class="icon-remove"></i></a>
        <a href="#" id="view" target="_blank" title="View Web Page"><i class="icon-external-link"></i></a>
        <div class="separator"></div>
        <a href="/admin/export" id="export" target="_blank" title="Export Data As JSON" class="active">
            <i class="icon-upload-alt"></i>
        </a>
        <div class="file-upload">
            <form action="/admin/import" method="POST" enctype="multipart/form-data">
                <a href="#" id="import" target="_blank" class="active">
                    <i class="icon-download-alt">

                    </i>
                </a>
                <input type="file" name="file" title="Import Data As JSON" onchange="this.form.submit()"/>
            </form>
        </div>
    </div>
    <div id="editor">
        <textarea id="text"></textarea>
    </div>
</div>
</body>
</html>