<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width">

    <title></title>
    <!-- Flatdoc -->
    <script src="js/jquery.min.js"></script>
    <script src="js/prettify.min.js"></script>
    <script src="js/marked.min.js"></script>
    <script src="js/flatdoc.js"></script>
    <!-- Flatdoc theme -->
    <link href="theme-white/style.css" rel="stylesheet">
    <script src="theme-white/script.js"></script>
    <!-- Prettify theme -->
    <link href="css/prettify.css" rel="stylesheet">
    <!-- Meta -->
    <meta content="Yoke" property="og:site_name">
    <meta content="Yoke" property="og:title">
    <meta content="website" property="og:type">
    <meta content="Yoke a middleware framework for Vert.x" name="description">
    <meta content="Yoke a middleware framework for Vert.x" property="og:description">
</head>
<body role="flatdoc" onload="Flatdoc.run({fetcher: Flatdoc.domElement('srcmd')});">
<div class="header">
    <div class="left">
        <h1 role="flatdoc-title"></h1>
    </div>
</div>
<div role="flatdoc" class="content-root">
    <div class="menubar">
        <div class="menu section" role="flatdoc-menu"></div>
    </div>
    <div role="flatdoc-content" class="content">
        <noscript id="srcmd">
            MARKDOWN_FILE
        </noscript>
    </div>
</div>
</body>
</html>
