# Apple crap
.DS_Store
# Build tools crap
.gradle
.idea
.classpath
.project
.settings
bin
build
target
out
*.iml
*.ipr
*.iws
mods
# Ruby crap
.yardoc
.yardopts
# Generated site crap
docs/*.html
docs/yoke-gradle-template.tar.gz
# Benchmark crap
node_modules
benchmark/*.dat
benchmark/*.png