body {
  padding: 50px;
  font: 14px/1.6 "Helvetica Neue", Helvetica, sans-serif;
}

body p {
    width: 70%;
}

body ul {
    width: 70%;
}

body ol {
    width: 70%;
}

h1 {
  margin: 0;
  font-size: 60px;
}

h1 a {
    text-decoration: none;
    color: #000000;
}

h2 {
  font-weight: 200;
}

h2 a {
    text-decoration: none;
    color: #000000;
}

h3 {
  font-weight: bold;
}

h3 a {
    text-decoration: none;
    color: #000000;
}

a {
  color: #8a6343;
}

#TOC {
  position: fixed;
  top: 10px;
  right: 30px;
}

#TOC li {
  list-style: none;
}

#TOC li a {
  display: block;
  text-decoration: none;
  padding: 5px 2px;
  border-bottom: 1px dotted #eee;
  text-align: right;
  -webkit-transition: padding 200ms ease-out;
  -moz-transition: padding 200ms ease-out;
}

#TOC li a:hover {
  padding-right: 15px;
}

table.sourceCode { width: 70%; background-color: #f8f8f8; }
pre.sourceCode { width: 70%; background-color: #f8f8f8; }

body li em {
    font-weight: bold;
    font-style: normal;
}