{{! -*- coding: utf-8 -*- }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>

<div class="main">
    {{#block "content"}}
        I am the default "content" block.
    {{/block}}
</div>

<div class="other">
    {{#block "other"}}
        I am the default "other" block.
    {{/block}}
</div>
</body>