body {
  font-family: 'Droid Sans', sans-serif;
  color: #333;
  background: #ddd;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar:hover {
  background-color: #eee;
}
::-webkit-resizer {
  -webkit-border-radius: 4px;
  background-color: #666;
}
::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
::-webkit-scrollbar-thumb:active {
  background-color: #888;
}
#content {
  min-height: 300px;
  height: 100%;
  background: #fff;
}
#keys {
  float: left;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#keys ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#keys li {
  padding: 4px 5px 4px 5px;
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  white-space: pre-wrap;
  /* css-3 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

  word-break: break-all;
  white-space: normal;
  border-bottom: 2px dotted #f7f7f7;
  cursor: pointer;
}
#keys li:last-child {
  border-bottom: none;
}
#keys li:hover {
  background: #ddd;
}
#keys li.selected {
  background: #6c6c6c;
  color: #fff;
}
#keys li.changed {
  font-weight: bold;
}
#controls {
  float: left;
  width: 30px;
  height: 100%;
  background: #6c6c6c;
}
#controls a {
  display: block;
  width: 30px;
  height: 30px;
  color: #aaa;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
#controls a.active {
  color: #fff;
  text-shadow: 2px 2px 1px #333;
}
#controls a.active:hover,
#controls a.active.hover {
  font-size: 24px;
}
#controls .separator {
  height: 15px;
}
#controls .file-upload {
  position: relative;
  overflow: hidden;
}
#controls .file-upload input {
  line-height: 30px;
  font-size: 24px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}
#editor {
  margin-left: 300px;
  height: 100%;
}
.CodeMirror-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
