<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Handlebars demo</title>
</head>
<body>
<table>
    <thead>
    <th>Username</th>
    <th>Real Name</th>
    <th>Email</th>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{email}}</td>
        </tr>
        {{/users}}
    </tbody>
</table>
</body>
</html>
