!!! 5
html
 head
  link(rel='stylesheet', href='/content/css/style.css', type='text/css' )
  title Yoke Jade Template
 body
 
  #wrapper
   div.pageContent
    div.themeHeader
     div.title Yoke for Vert.x
     div.subTitle.paleYellow An easy way to build web applications
    h1 This is part of the #{engineName} layout header - the template content is below
    p.
     (be careful as you need indentation inside the included template, at least four spaces - see the layout.jade source files)
#{TemplateBody}
    h1 This is part of the #{engineName} layout footer - the template content is above