!!! 5
html
  head
    title= pageName
    script(type="text/javascript", src="static/sockjs-min-0.3.4.js")
    script(type="text/javascript", src="static/vertxbus.js")
    script(type="text/javascript", src="static/main.js")
    link(type="text/css", href="static/main.css", rel="stylesheet")
  body
    h1= pageName