<!DOCTYPE html>
<html>
<head>
  <title>${title}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/css/persona-buttons.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
</head>
<body>
  <ul>
      <li><a id="signin" href="#" class="persona-button"><span>Sign in with your Email</span></a></li>
      <li><a id="signout" href="#">Log out</a></li>
  </ul>
  Current User: ${email}
</body>
<script>
  var signinLink = document.getElementById('signin');
  if (signinLink) {
    signinLink.onclick = function() { navigator.id.request(); };
  }

  var signoutLink = document.getElementById('signout');
  if (signoutLink) {
    signoutLink.onclick = function() { navigator.id.logout(); };
  }

  var currentUser = ${email};

  navigator.id.watch({
    loggedInUser: currentUser,
    onlogin: function(assertion) {
      $.ajax({
        type: 'POST',
        url: '/auth/login',
        data: {assertion: assertion},
        success: function(res, status, xhr) { window.location.reload(); },
        error: function(xhr, status, err) {
          navigator.id.logout();
          alert("Login failure: " + err);
        }
      });
    },
    onlogout: function() {
      // A user has logged out! Here you need to:
      // Tear down the user's session by redirecting the user or making a call to your backend.
      // Also, make sure loggedInUser will get set to null on the next page load.
      // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
      $.ajax({
        type: 'POST',
        url: '/auth/logout',
        success: function(res, status, xhr) { window.location.reload(); },
        error: function(xhr, status, err) { alert("Logout failure: " + err); }
      });
    }
  });
</script>
</html>
